torch
torchvision
torchaudio
numpy
pytorch-lightning
transformers
datasets
evaluate
tqdm
click
ray[train]
ray[air]
ray[train-torch]
ray[train-lightning]
torchdata
torchmetrics
torch_optimizer
accelerate
scikit-learn
Pillow
protobuf
datasets
transformers
